*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/kompozice/nbproject/private/
/kompozice/build/
/kompozice/dist/
/pytel/nbproject/private/
/pytel/build/
/Script/nbproject/private/
/Script/build/
/Script/dist/
/Scanner/nbproject/private/
/Scanner/build/
/Scanner/dist/
/CrossGenerator/nbproject/private/
/CrossGenerator/build/
/CrossGenerator/dist/